body, html {
    width: 100%;
    height: 100%;
    background-image: url("/img/WaterPattern.svg");
    background-color: teal;
}

/*Snap adds SVGs to body to load em... this is a hack to make sure they do not effect rendering*/
body svg{ display: none; }

/*Nothing is selectable or draggable*/
*{
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#root {
    display:flex;
    width:100%;
    height:100%;
}

#sidebar {
    flex: 0 0 100px;
    display: flex;
    flex-direction: column;
    margin: 0;/*undo navbar style*/
    align-items: center;
}

#sidebar button {
    margin: 2px;
    padding: 0px;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    align-self: stretch;
}

#sidebar .spacer{
    height: 20px;
}

#zoom-container{
    display: flex;
    flex: 1 1 100%;
    overflow: auto;
}

#svg-slaughter{
    display: block;
    flex: 1 1 100%;
    align-self: center;
    max-height: 100%;
    transform-origin: top left;
    transition: all 0.25s ease-in-out;
}

#team-chart{
    margin-right: 5px;
    margin-left: 5px;
}
#team-chart h4{
    margin-bottom: 0px;
    text-align: center;
}
#team-chart .section{
    display: flex;
    align-items: center;
}
#team-chart .bar{
    margin: 3px;
    display: inline-block;
    height: 25px;
}
#team-chart .bar-label{
    flex: 0 0 auto;
    background-color: transparent;
}
#team-chart .bar-wrap{
    width: 100%;
}
#team-chart .current-team{
    animation: flash 2s infinite;
}

#selected-tenant{
    border: 5px solid white;
    border-radius: 10px;
    padding: 2px;
}

#selected-tenant.no-selection img{
    visibility: hidden;
}

#selected-tenant img{
    height: 60px;
}

#build-menu img{
    height: 60px;
    background-color: transparent;
    filter: grayscale(100%);
    opacity: .5;
}
#build-menu img.can-afford{
    filter: none;
    opacity: 1;
    cursor: pointer;
}

#econ-view{
    transition: opacity;
    transition-duration: 0.25s;
}

#econ-view.no-selection{
    opacity: 0;
}

#econ-view td{
    padding: 2px;
}

#econ-view .balance-row{
    border-top-width: 1px;
    border-top-color: white;
    border-top: 2px solid white;
}

.hex {
  cursor: pointer;
  stroke: #000;
  stroke-width: 1;
  fill: #ffff00;
  transition: stroke, stroke-width, opacity;
  transition-duration: 0.5s;
}

.hex .money {
    font-size: 18px;
    fill: gold;
    font-weight: bolder;
    stroke-width: 1;
    transform: translate(-15px,8px);
}

.hex .territory {
    /*display: none;*/
    stroke-width: 0;
    fill: black;
    font-size: 8px;
}

.hex.drop-target{
    stroke-width: 2
}

.current-team .draggable{
    cursor:move;
    animation: bounce 3s infinite;
}

.current-team .canbuy{
    animation: flash 2s infinite;
}

.draggable.drag-active{
    animation-name: none;
}

.hex:hover {
  stroke: #ff0000;
  stroke-width: 2;
  filter:url(#dropshadow);
}

.hex.selected-territory {
    stroke-width: 2;
}

.hex .sprite {
    stroke-width: 1;
}

.hex.team--1 {
    display: none;
    fill: #7777cc;
}
.team-1 {
    fill: #b4cdc5;
    background-color: #b4cdc5;
}
.team-2 {
    fill: #3f6796;
    background-color: #3f6796;
}
.team-3 {
    fill: #f7917f;
    background-color: #f7917f;
}
.team-4 {
    fill: #ebebeb;
    background-color: #ebebeb;
}
.team-5 {
    fill: #ffefbb;
    background-color: #ffefbb;
}
.team-6 {
    fill: lightgreen;
    background-color: lightgreen;
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -10px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -5px, 0);
  }

  90% {
    transform: translate3d(0,-1px,0);
  }
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: .25;
  }
}
