<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Slaughter</title>
  <meta name="description" content="Slaughter">

  <!--<link rel="stylesheet" href="css/styles.css?v=1.0">-->
  <script src="/libs.js"></script>
  <script src="/bundle.js"></script>
  <!--
  <script id="menutemplate" type="text/template">
    TEAM: <div class="team-swatch team-<%= team %>"><%= team %></div>
    <input type="button" class="nextTurn" value="Next Turn">
  </script>
  -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/slate/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/index.css">
</head>

<body><div id="root">
  <div id="sidebar">
    <div id="sidebar-details">

    </div>
    <div id="sidebar-essential" class="navbar navbar-inverse">
      <button type="button" class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
        Menu
      </button>
      <div class="spacer"></div>
      <button type="button" class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
        Zoom In
      </button>
      <button type="button" class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span>
        Zoom Out
      </button>
      <div class="spacer"></div>
      <button type="button" class="btn btn-warning next-turn" aria-label="Left Align">
        End Turn
      </button>
    </div>
  </div>
  <div id="zoom-container">
    <svg id="svg-slaughter">
      <filter id="dropshadow" height="130%">
        <feGaussianBlur in="SourceAlpha" stdDeviation="3"/> <!-- stdDeviation is how much to blur -->
        <feOffset dx="2" dy="2" result="offsetblur"/> <!-- how much to offset -->
        <feMerge>
          <feMergeNode/> <!-- this contains the offset blurred image -->
          <feMergeNode in="SourceGraphic"/> <!-- this contains the element that the filter is applied to -->
        </feMerge>
      </filter>
    </svg>
  </div>
</div></body>
</html>
