<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Slaughter</title>
  <meta name="description" content="Slaughter">

  <!--<link rel="stylesheet" href="css/styles.css?v=1.0">-->
  <script src="/libs.js"></script>
  <script src="/bundle.js"></script>
  <!--
  <script id="menutemplate" type="text/template">
    TEAM: <div class="team-swatch team-<%= team %>"><%= team %></div>
    <input type="button" class="nextTurn" value="Next Turn">
  </script>
  -->
  <script id="teamChartTemplate" type="text/template">
    <h4>Player #<%= currentTeam %>'s turn!</h4>
    <% teams.forEach((team, i)=>{ %>
      <div class="section">
        <span class="bar-label team-<%= team %>">
          <!--<span class="glyphicon glyphicon-user" aria-hidden="true"></span>-->
          <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
        </span>
        <span class="bar-wrap">
          <div style="width: <%= teamsPercent[i].toFixed(1) %>%" class="bar team-<%= team %>"></div>
        </span>
      </div>
    <% }); %>
  </script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/slate/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/index.css">
</head>

<body>
  <div id="root">
    <div id="sidebar" class="navbar">
      <div class="spacer"></div>
      <div id="selected-tenant">
        <img src="/img/peasant.svg">
      </div>
      <ul id="build-menu" class="list-unstyled">
        <li><img class="draggable build build-peasant" src="/img/peasant.svg"></li>
        <li><img class="draggable build build-tower" src="/img/tower.svg"></li>
      </ul>
      <table id="econ-view" class="table">
        <tbody>
          <tr><td>Savings</td><td class="savings-value">14</td></tr>
          <tr><td>Income</td><td class="income-value">14</td></tr>
          <tr><td>Wages</td><td class="wages-value">14</td></tr>
          <tr class="balance-row"><td>Balance</td><td class="balance-value">14</td></tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-default zoom-in" aria-label="Left Align">
        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
        Zoom In
      </button>
      <button type="button" class="btn btn-default zoom-out" aria-label="Left Align">
        <span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span>
        Zoom Out
      </button>
      <button id="undo-button" type="button" class="btn btn-default undo" aria-label="Left Align">
        <span style="transform:scaleX(-1);" class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
        Undo
      </button>
      <button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="modal" data-target="#helpModal">
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
        Help
      </button>
      <div class="spacer"></div>
      <div id="team-chart"></div>
      <div class="spacer"></div>
      <button type="button" class="btn btn-warning next-turn" aria-label="Left Align">
        End Turn
      </button>
    </div>
    <div id="zoom-container">
      <svg id="svg-slaughter">
        <filter id="dropshadow" height="130%">
          <feGaussianBlur in="SourceAlpha" stdDeviation="3"/> <!-- stdDeviation is how much to blur -->
          <feOffset dx="2" dy="2" result="offsetblur"/> <!-- how much to offset -->
          <feMerge>
            <feMergeNode/> <!-- this contains the offset blurred image -->
            <feMergeNode in="SourceGraphic"/> <!-- this contains the element that the filter is applied to -->
          </feMerge>
        </filter>
      </svg>
    </div>
  </div>
  <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">How to play?</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
